<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.company.package.plist</string>
	<key>ProgramArguments</key>
	<array>
        <string>bash</string>
        <string>/Library/Scripts/main_script_name.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>